---
layout: default
title: Largefacescat
---
<style>
.pf_head{
  position: relative;
  top: 130px;
  left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: 1;
}
.S_bg4{
  background-color: rgb(250, 250, 250);
}
.pf_head_pic{
  padding: 2px;
  width: 180px;
  position: relative;
}
.contact_atten{
  border: 0px none;
  margin: 10px 0px 5px;
  width: 184px;
  line-height: 1.125;
  padding: 0px;
  height: 20px;
}
.S_line1 {
    border-color: rgb(217, 217, 217);
    float: left;
}
.service-link{
  height: 16px !important;
  line-height: 16px;
  padding-left: 20px;
  display: block;
  background: url("/static/images/service-icons.png") no-repeat scroll 0% 0% transparent;
  overflow: hidden;
  width: 50px;
  margin-left: 20px;
}
.ds-weibo{
  background-position: 0px 0px;
}
.ds-renren{
  background-position: 0px -32px;
}
.index{
  background: #fff;
  padding: 65px 10px 10px 10px;
  z-index: 0;
}
.index .index-container {
   width: 100%;
  border-style: solid; 
  border-width: 1px;
  min-height: 310px;
  border-color: #cfcfcf;
    background: #f7f7f7;
}
.index .index-container .article{
   width: 70%;
  padding: 10px 10px 10px 10px;
    min-height: 300px;
  background: #fff;
}
.index .index-container .about{
  padding: 10px 10px 10px 10px;
  min-height: 300px;
  width: 25%;
  float: right;
}
.index-container .title{
  border-bottom: 1px dashed #CCC;

}
.index-container h4{
  font-size: 20px;
  font-weight: bold;
  color: #006666;
}

</style>
<div class="index_pic_top" node-type="cover" style="background-image:url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/025.jpg)">
  <div class="pf_head S_bg4 S_line1">
    <div class="pf_head_pic" onmouseout="this.getElementsByTagName('div')[0].style.display='none';" onmouseover="this.getElementsByTagName('div')[0].style.display=''">
    <img alt="lucky_玉米" src="http://tp1.sinaimg.cn/2464071124/180/5643185018/1"></img>
    <ul class="contact_atten">
      <li class="S_line1">
        <a class="service-link ds-weibo" rel="nofollow" href="http://weibo.com/backbone007">
          微博
        </a>
      </li>
      <li class="S_line1">
        <a class="service-link ds-renren" rel="nofollow" href="http://www.renren.com/64058726/profile">
          人人
        </a>
      </li>
    </ul>
  </div>
</div>
</div>


<div class="index" >
  <div class="index-container">
    <div class="about">
      <h4 class="title">About me</h4>
    </div>

    <div class="article">
    <ul>
    <section id="article" class="list">
    <h4 class="title">Article</h4>
    {% for post in site.posts %}
    {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
    {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
    {% endif %}
    <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
    </ul>
  </section>
    </div>
  </div>
</div>

<script>
function moveSection(hash) {
  var body, elem, value;

  if (!hash) return;
  
  hash = hash.match(/#[^#]*/g);

  for (var i = 0, len = hash.length; i < len; i++) {
    value = hash[i];

    if (value.indexOf('#anchor-') > -1) {
      elem = document.getElementById(value.replace(/#anchor-/, ''));
      break;
    }
  }

  body = document.getElementById('main');
  body.insertBefore(elem, body.firstElementChild || body.firstChild); 
}

moveSection(location.hash);

if (location.pathname === '/') {
  document.getElementById('link-article').onclick = goTo;
  document.getElementById('link-categories').onclick = goTo;
  document.getElementById('link-tags').onclick = goTo;
  document.getElementById('link-aboutme').onclick = goTo;
}

function goTo(e) {
  moveSection(this.href);
  return false;
}
</script>
